/*fonts*/
$font-main: 'Roboto', Arial, sans-serif;

/*fonts-weight*/
$thin: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/*fonts-size*/
$size-main: 17px;

/*line-height*/
$line-height: 1.4;

/*colors*/
$white: #ffffff;
$color-text: #a4a7b9;
$color-text2: #737585;
$color-title: #11142d;
$color-bg: #e4e9f3;
$color-bg-sidebar: #f7f8fb;

/*transition*/
$transition-link: 0.25s;
$transition-other: 0.35s;

/*border-radius*/
$radius: 4px;
