.course-wrap {

}
.filter-list {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  margin-bottom: 20px;
  > * {
    padding: 0 30px;
    margin-bottom: 20px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    @media all and (max-width: 480px) {
      padding: 0 20px;
    }

    a {
      font-size: 20px;
      color: $color-text;
      &:hover,
      &:focus {
        color: $color-title;
        text-decoration: none;
        font-weight: $medium;
      }
    }
    &.active a,
    a:hover,
    a:focus {
      color: $color-title;
      text-decoration: none;
      font-weight: $medium;
    }
  }
}

.course-list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -52px -70px -50px;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 41px;
    background: $white;
  }

  @media all and (max-width: 1366px) {
    margin: 0 -42px -60px -40px;
  }
  @media all and (max-width: 767px) {
    margin-left: -20px;
    margin-right: -22px;
  }
  @media all and (max-width: 480px) {
    margin-left: 0;
    margin-right: 0;
  }

    > * {
    padding: 40px 50px 84px;
    width: 33.33%;
    border-right: 1px solid #e2e2e9;
    border-top: 1px solid #e2e2e9;

    @media all and (max-width: 1366px) {
      padding: 40px 40px 70px;
    }
    @media all and (max-width: 767px) {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media all and (max-width: 480px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border-right: none;
    }
  }
  &#course-list {
    > * {
      display: none;
      &.show {
        display: block;
      }
    }
  }

  .start-month {
    display: block;
    min-height: 60px;
    margin-bottom: 90px;
    color: #efeff3;
    font-weight: $bold;
    font-size: 60px;
    line-height: 1;
  }
  .course-heading {
    min-height: 157px;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 1.6;
      a {
        &:hover,
        &:focus {
          color: #000000;
          text-decoration: none;
        }
      }
    }
    .course-categories {
      a {
        font-size: 15px;
        color: $color-text;
        &:hover,
        &:focus {
          color: $color-title;
          text-decoration: none;
        }
      }
    }
  }
  .start-date {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: $color-title;
  }
  .course-excerpt {
    overflow: hidden;
    font-size: 16px;
    max-height: 44px;
    opacity: 0;
    @include transition('opacity 0.5s ease');
    &.visible {
      opacity: 1;
    }
  }
}
.thumbnail-box {
  width: 100%;
  height: 155px;
  overflow: hidden;
  @include border-radius();
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include transition('all ' $transition-other ' ease');
  }
  a {
    &:hover,
    &:focus {
      img {
        @include css3-prefix('transform', 'scale(1.2)');
      }
    }
  }
}