body.login #nav a,
body.login #backtoblog a {
    color: #333d51;
}

body.login #nav a:hover,
body.login #backtoblog a:hover {
    color: #3C0979;
}

body.login h1 a {
    height: 56px;
    width: 245px;
    background-size: contain;
    background-image: url(../../img/xneelo_logo.png);
}

#login_error {
    display: none;
}